@model ResumeSystem_Onsite_08_03_2017.Models.Applicants

@{
    ViewBag.Title = "ReceivedResume";
   

}

@*<h2>You successfully submitted resume!</h2>
<h3>First Name is @ViewBag.FirstName</h3>
<h3>First Name is @ViewBag.LastName</h3>
<h3>First Name is @ViewBag.Email</h3>*@

<h2>You successfully submitted resume!</h2>
<h3>First Name is @Model.FirstName</h3>
<h3>Last Name is @Model.LastName</h3>
<h3>Email is @Model.Email</h3>

